.TreeElement {
    list-style: none;
    margin-left: 14px;
    margin-top: 5px;

}

.TreeElement--hasItems {
    margin-left: 0;
}

.TreeElement--hasItems > .TreeElement__name::before {
    content: "+ ";
}

.TreeElement--isExpanded {
    margin-left: 0;
}

.TreeElement--isExpanded > .TreeElement__name::before {
    content: "- ";
}

.TreeElement__name--highlighted {
    background-color: yellow;
}
