.Tree__element {
    list-style: none;
}

.Tree__name--expanded {
    font-weight: bold;
}

.Tree__name--hasItems::before {
    content: "+ ";
}

.Tree__name--highlighted {
    background-color: yellow;
}
